{% unless request.page_type == 'product' %}
  <link rel="stylesheet" href="{{ 'featured-product-card.css' | asset_url }}">
{% endunless %}

{% if product.variants.first.available %}
  <featured-slider-card class="product-card" data-variant-id="{{ product.variants.first.id }}">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="product-card__image-wrapper">
          <div class="product-card__img">
            <img
              src="{{ product.featured_image | image_url: width: 320 }}"
              width="320"
              height="320"
              alt="{{ product.title | escape }}"
              loading="lazy"
            >
          </div>

          {% if product.type == 'Новинка' %}
            <div class="product-card__badge product-card__badge--new">Новинка</div>
          {% endif %}

          {% if product.variants.size > 1 %}
            <div class="product-card__badge product-card__badge--variants">{{ product.variants.size }}+ видів</div>
          {% endif %}
        </div>
      {% endif %}
    </a>

    <div class="product-card__content">
      {% if product.vendor %}
        <div class="product-card__vendor">{{ product.vendor }}</div>
      {% endif %}

      <h3 class="product-card__title">
        <a href="{{ product.url }}">
          {{ product.title }}
        </a>
      </h3>

      <div class="product-card__price">
        <div class="product-card__price-wrapper">
          <span class="price">{{ product.price | money }}</span>
          {% if product.variants.first.weight > 0 %}
            <span class="product-card__weight">/{{ product.variants.first.weight | round }} г</span>
          {% endif %}
        </div>

        <div class="product-card__controls">
          <button type="button" class="product-card__add-btn">
            <span class="qty-value"></span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.9709 19.5136L18.9032 7.51034C18.8456 7.17234 18.6702 6.86567 18.4079 6.64475C18.1457 6.42384 17.8137 6.30296 17.4709 6.30357H15.8616V4.86143C15.8616 3.83732 15.4548 2.85515 14.7306 2.13099C14.0065 1.40683 13.0243 1 12.0002 1C10.9761 1 9.99392 1.40683 9.26976 2.13099C8.5456 2.85515 8.13877 3.83732 8.13877 4.86143V6.30357H6.52953C6.18666 6.30296 5.85466 6.42384 5.59245 6.64475C5.33023 6.86567 5.15476 7.17234 5.09718 7.51034L3.02779 19.5247C2.9693 19.956 3.00338 20.3948 3.12777 20.8119C3.25215 21.2291 3.46399 21.6149 3.74917 21.9437C4.03434 22.2725 4.38631 22.2368 4.78163 22.7189C5.17694 22.9011 5.60653 22.9969 6.04178 23L17.9587 23C18.3949 22.997 18.8255 22.9009 19.2215 22.7181C19.6176 22.5352 19.97 22.2698 20.2552 21.9397C20.5404 21.6096 20.7518 21.2224 20.8752 20.804C20.9987 20.3856 21.0313 19.9456 20.9709 19.5136ZM8.92448 4.86143C9.0698 0.787141 14.9361 0.795113 15.0759 4.86149V6.30357H8.92448V4.86143ZM19.6653 21.4355C19.4533 21.68 19.1912 21.8761 18.8967 22.0105C18.6022 22.1449 18.2823 22.2144 17.9587 22.2143H6.04174C5.71981 22.2118 5.40207 22.1411 5.10953 22.0066C4.81699 21.8722 4.55632 21.6772 4.34477 21.4346C4.13321 21.1919 3.97559 20.9071 3.88233 20.5989C3.78906 20.2908 3.76228 19.9663 3.80376 19.6471L5.8714 7.64387C5.89788 7.48856 5.97852 7.34766 6.09899 7.24614C6.21947 7.14463 6.37201 7.08906 6.52955 7.0893H17.4709C17.6284 7.08906 17.7809 7.14463 17.9014 7.24614C18.0219 7.34766 18.1025 7.48856 18.129 7.64387L20.195 19.636C20.2408 19.9564 20.2172 20.2829 20.1258 20.5933C20.0344 20.9038 19.8774 21.191 19.6653 21.4355Z" fill="white" />
              <path d="M15.4688 8.42505C15.3646 8.42506 15.2647 8.46645 15.191 8.54012C15.1173 8.6138 15.076 8.71372 15.0759 8.81791V9.5923C14.9355 13.6592 9.06955 13.666 8.92451 9.59225V8.81791C8.92333 8.71449 8.88142 8.61571 8.80787 8.543C8.73432 8.47029 8.63507 8.42951 8.53165 8.42951C8.42823 8.42951 8.32898 8.47029 8.25543 8.543C8.18188 8.61571 8.13997 8.71449 8.13879 8.81791V9.59228C8.34295 14.7164 15.6659 14.7054 15.8617 9.59224V8.81787C15.8616 8.71368 15.8202 8.61377 15.7466 8.54011C15.6729 8.46644 15.573 8.42506 15.4688 8.42505Z" fill="white" />
            </svg>
          </button>

          <div class="product-card__quantity-controls is-hidden">
            <button type="button" class="qty-btn minus">−</button>
            <span class="qty-value">1 шт</span>
            <button type="button" class="qty-btn plus">+</button>
          </div>
        </div>
      </div>
    </div>
  </featured-slider-card>
{% else %}
  <div class="product-card">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="product-card__image-wrapper">
          <div class="product-card__img">
            <img
              src="{{ product.featured_image | image_url: width: 320 }}"
              width="320"
              height="320"
              alt="{{ product.title | escape }}"
              loading="lazy"
            >
          </div>

          {% if product.type == 'Новинка' %}
            <div class="product-card__badge product-card__badge--new">Новинка</div>
          {% endif %}

          {% if product.variants.size > 1 %}
            <div class="product-card__badge product-card__badge--variants">{{ product.variants.size }}+ видів</div>
          {% endif %}
        </div>
      {% endif %}
    </a>

    <div class="product-card__content">
      {% if product.vendor %}
        <div class="product-card__vendor">{{ product.vendor }}</div>
      {% endif %}

      <h3 class="product-card__title">
        <a href="{{ product.url }}">
          {{ product.title }}
        </a>
      </h3>

      <div class="product-card__price">
        <div class="product-card__not-available"><strong>Немає в наявності</strong></div>
        <div class="product-card__call">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.0096 17.8557C18.9026 17.8556 18.7999 17.813 18.7242 17.7374C18.6485 17.6617 18.6059 17.559 18.6057 17.452V10.4423C18.6033 8.906 18.0662 7.41843 17.0866 6.23499C16.1069 5.05156 14.7458 4.24609 13.2369 3.95686C13.4348 3.69328 13.5423 3.37281 13.5432 3.04321C13.5432 2.63393 13.3806 2.2414 13.0912 1.952C12.8018 1.66259 12.4093 1.5 12 1.5C11.5907 1.5 11.1982 1.66259 10.9088 1.952C10.6194 2.2414 10.4568 2.63393 10.4568 3.04321C10.4577 3.37281 10.5652 3.69328 10.7631 3.95686C9.25421 4.24609 7.89311 5.05156 6.91344 6.23499C5.93377 7.41843 5.39665 8.906 5.39429 10.4423V17.452C5.39414 17.559 5.35152 17.6617 5.2758 17.7374C5.20008 17.813 5.09742 17.8556 4.99036 17.8557C4.6847 17.8563 4.39175 17.9781 4.17581 18.1944C3.95988 18.4107 3.8386 18.7039 3.8386 19.0096C3.8386 19.3152 3.95988 19.6084 4.17581 19.8247C4.39175 20.041 4.6847 20.1628 4.99036 20.1634H9.31744C9.40715 20.8111 9.72817 21.4045 10.2212 21.8339C10.7143 22.2634 11.3461 22.5 12 22.5C12.6539 22.5 13.2857 22.2634 13.7788 21.8339C14.2718 21.4045 14.5929 20.8111 14.6826 20.1634H19.0096C19.3153 20.1628 19.6082 20.041 19.8242 19.8247C20.0401 19.6084 20.1614 19.3152 20.1614 19.0096C20.1614 18.7039 20.0401 18.4107 19.8242 18.1944C19.6082 17.9781 19.3153 17.8563 19.0096 17.8557ZM11.2068 3.04321C11.2068 2.88634 11.2534 2.733 11.3406 2.60258C11.4278 2.47217 11.5516 2.37053 11.6966 2.31052C11.8415 2.25052 12.001 2.23484 12.1549 2.26547C12.3087 2.2961 12.45 2.37166 12.561 2.4826C12.6719 2.59354 12.7474 2.73488 12.778 2.88874C12.8086 3.0426 12.7929 3.20208 12.7328 3.34701C12.6728 3.49194 12.5711 3.61581 12.4407 3.70296C12.3102 3.79011 12.1569 3.83662 12 3.83663C11.7897 3.83641 11.588 3.75274 11.4393 3.60399C11.2906 3.45523 11.207 3.25355 11.2068 3.04321ZM12 21.75C11.5452 21.7492 11.1048 21.5906 10.754 21.3013C10.4031 21.0119 10.1636 20.6097 10.0763 20.1634H13.9237C13.8364 20.6097 13.5969 21.0119 13.246 21.3013C12.8952 21.5906 12.4548 21.7492 12 21.75ZM19.0096 19.4134H4.99036C4.88347 19.413 4.78106 19.3704 4.70559 19.2947C4.63013 19.219 4.58775 19.1164 4.58775 19.0095C4.58775 18.9026 4.63013 18.8001 4.70559 18.7244C4.78106 18.6487 4.88347 18.606 4.99036 18.6057C5.29627 18.6054 5.58955 18.4837 5.80588 18.2674C6.02221 18.0511 6.14391 17.7579 6.14429 17.4519V10.4423C6.14429 8.88929 6.76123 7.39987 7.85939 6.30171C8.95755 5.20355 10.447 4.58661 12 4.58661C13.553 4.58661 15.0425 5.20355 16.1406 6.30171C17.2388 7.39987 17.8557 8.88929 17.8557 10.4423V17.452C17.8561 17.7579 17.9778 18.0511 18.1941 18.2674C18.4104 18.4837 18.7037 18.6054 19.0096 18.6057C19.1165 18.606 19.2189 18.6487 19.2944 18.7244C19.3699 18.8001 19.4123 19.9027 19.4123 19.0096C19.4123 19.1164 19.3699 19.219 19.2944 19.2947C19.2189 19.3704 19.1165 19.413 19.0096 19.4134Z" fill="#3E3229" />
          </svg>
        </div>
      </div>
    </div>
  </div>
{% endif %}
